<div class="page-top-spacing about-page">
    <div class="heading text-center">
      <h1>About us</h1>
    </div>
    <div class="content">
      <p>
        Lasarkali Consumables is an emerging multi-local company. The abbreviation ‘Lasarkali’ is a portmanteau or
        linguistic blend of the names of Hindu Goddesses Laxmi, Saraswathi and Kali who represent prosperity, wisdom,
        strength and creativity respectively. Headquartered in Hyderabad, Lasarkali Consumables is on a path towards
        becoming one of the most recognised household names under the FMCG industry in the country. The company strongly
        believes in upholding the trust, integrity and esteem of its valuable customers and this shows in the quality of
        our products.
      </p>
      <p>
        Lasarkali Consumables’ range of products is widespread. A purchaser can find products suitable for all kinds of
        requirements starting from the beginning of the day until the end of the night. We believe in providing quality
        household commodities at competitive prices for the contemporary society. No stones are left unturned in the
        packaging of products, done with the best of standards and decorum. Our Mission is to triumph in providing the
        finest products without compromising on quality.
      </p>
      <p>
        Our result-oriented team values diversity while working in an agile and efficient environment. We have a strong
        sense of responsibility towards the country and are committed to being a part of its rapid growth.
      </p>
      <p>
        Lasarkali Consumables’ Vision is to touch the lives of billions of people in the country through our products and
        being a valuable asset to the Indian economy.
      </p>
  
      <div class="team">
        <div class="heading">Meet Our Team</div>
        <div class="member">
          <div class="image">
            <img src="assets/images/team/md.jpg" alt="MD Image" class="img-auto">
          </div>
          <div class="details">
            <div class="name">Pradeep MLN</div>
            <div class="position">Managing Director</div>
            <div class="profile">Meet Pradeep, the man behind the company. He is a multi-crore enterpriser. An innovator,
              visionary, and sharp intellect, he has the rare ability to motivate a workforce. The organisation runs with
              his adept thinking and perception. He is passionate about creating new milestones in innovative businesses.
              He is also a very down-to-earth person. He is set upon building a strong presence for Lasarkali in the
              industry.</div>
          </div>
        </div>
        <div class="member">
          <div class="image">
            <img src="assets/images/team/ceo.jpg" alt="MD Image" class="img-auto">
          </div>
          <div class="details">
            <div class="name">Avra Ghosh</div>
            <div class="position">Chief Executive Officer</div>
            <div class="profile">
                Avra has a knack for making strategic decisions for the company. He has a proven track record of increasing growth in organisations within a short period of time. With around 25 years of experience, he has in- depth knowledge about the changing business environments and markets. His wisdom is insightful and a he is a pillar of strength to Lasarkali.
            </div>
          </div>
        </div>
        <div class="member">
          <div class="image">
            <img src="assets/images/team/cto.jpg" alt="MD Image" class="img-auto">
          </div>
          <div class="details">
            <div class="name">Nishant Gorle</div>
            <div class="position">Chief Technical Officer</div>
            <div class="profile">
                Nishant has a technological vision for the company. With years of experience, he is an expert at designing top-level tech strategy and implementing them. His expertise involves setting up technological platforms, implementation of business planning and hands-on research and development. Nishant is responsible for paving a roadmap of growth for Lasarkali.
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </div>